/*

        Creating a sprite from following images:
        
        to-sprites/logo.png (331x135)
        to-sprites/language.png (129x37)
        to-sprites/dance_over.png (60x100)
        to-sprites/dance2.png (60x100)
        to-sprites/dance.png (60x100)
        to-sprites/dance2_over.png (60x100)
        to-sprites/contact_over.png (80x70)
        to-sprites/contact.png (80x70)
        to-sprites/teaching.png (80x60)
        to-sprites/teaching_over.png (80x60)
        to-sprites/shadow_dancer.png (74x24)
        to-sprites/blog_over.png (65x55)
        to-sprites/blog.png (65x55)
        to-sprites/pictures_over.png (60x50)
        to-sprites/pictures.png (60x50)
        to-sprites/shadow_teaching.png (36x20)
        to-sprites/about_over.png (34x34)
        to-sprites/about.png (34x34)

        Output files:
          to-sprites.png
          to-sprites.css

        Output size:
          411x327


*/
img.logo { width: 331px; height: 135px; background: url(to-sprites.png) 0px 0px no-repeat; }
img.language { width: 129px; height: 37px; background: url(to-sprites.png) 0px -135px no-repeat; }
img.dance_over { width: 60px; height: 100px; background: url(to-sprites.png) 0px -172px no-repeat; }
img.dance2 { width: 60px; height: 100px; background: url(to-sprites.png) -60px -172px no-repeat; }
img.dance { width: 60px; height: 100px; background: url(to-sprites.png) -120px -172px no-repeat; }
img.dance2_over { width: 60px; height: 100px; background: url(to-sprites.png) -180px -172px no-repeat; }
img.contact_over { width: 80px; height: 70px; background: url(to-sprites.png) -240px -172px no-repeat; }
img.contact { width: 80px; height: 70px; background: url(to-sprites.png) -331px 0px no-repeat; }
img.teaching { width: 80px; height: 60px; background: url(to-sprites.png) -331px -70px no-repeat; }
img.teaching_over { width: 80px; height: 60px; background: url(to-sprites.png) -331px -130px no-repeat; }
img.shadow_dancer { width: 74px; height: 24px; background: url(to-sprites.png) -331px -190px no-repeat; }
img.blog_over { width: 65px; height: 55px; background: url(to-sprites.png) -331px -214px no-repeat; }
img.blog { width: 65px; height: 55px; background: url(to-sprites.png) 0px -272px no-repeat; }
img.pictures_over { width: 60px; height: 50px; background: url(to-sprites.png) -65px -272px no-repeat; }
img.pictures { width: 60px; height: 50px; background: url(to-sprites.png) -125px -272px no-repeat; }
img.shadow_teaching { width: 36px; height: 20px; background: url(to-sprites.png) -129px -135px no-repeat; }
img.about_over { width: 34px; height: 34px; background: url(to-sprites.png) -185px -272px no-repeat; }
img.about { width: 34px; height: 34px; background: url(to-sprites.png) -219px -272px no-repeat; }
