/*

        Creating a sprite from following images:
        
        to-sprites/jobs-cloud-bubble.png (754x650)
        to-sprites/jobs-cloud.png (690x391)
        to-sprites/we-bubble.png (364x227)
        to-sprites/irish-dance-bubble.png (292x348)
        to-sprites/motto-bubble.png (317x255)
        to-sprites/price-bubble.png (231x238)
        to-sprites/jobs-cloud-title.png (175x215)

        Output files:
          to-sprites.png
          to-sprites.css

        Output size:
          1444x998


*/
img.jobs-cloud-bubble { width: 754px; height: 650px; background: url(to-sprites.png) 0px 0px no-repeat; }
img.jobs-cloud { width: 690px; height: 391px; background: url(to-sprites.png) -754px 0px no-repeat; }
img.we-bubble { width: 364px; height: 227px; background: url(to-sprites.png) -754px -391px no-repeat; }
img.irish-dance-bubble { width: 292px; height: 348px; background: url(to-sprites.png) 0px -650px no-repeat; }
img.motto-bubble { width: 317px; height: 255px; background: url(to-sprites.png) -292px -650px no-repeat; }
img.price-bubble { width: 231px; height: 238px; background: url(to-sprites.png) -609px -650px no-repeat; }
img.jobs-cloud-title { width: 175px; height: 215px; background: url(to-sprites.png) -1118px -391px no-repeat; }
