@import "_resources.less";

/******************************************************************************

    Helpers

******************************************************************************/

@-webkit-keyframes hopsing {
    0%   { -webkit-transform: rotate(0deg); }
    30%  { -webkit-transform: rotate(-3deg); }
    60%  { -webkit-transform: rotate(3deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes hopsing {
    0%   { -webkit-transform: rotate(0deg); }
    30%  { -webkit-transform: rotate(-3deg); }
    60%  { -webkit-transform: rotate(3deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-o-keyframes  hopsing {
    0%   { -webkit-transform: rotate(0deg); }
    30%  { -webkit-transform: rotate(-3deg); }
    60%  { -webkit-transform: rotate(3deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@keyframes hopsing {
    0%   { -webkit-transform: rotate(0deg); }
    30%  { -webkit-transform: rotate(-3deg); }
    60%  { -webkit-transform: rotate(3deg); }
    100% { -webkit-transform: rotate(0deg); }
}

.bounce(@duration: 0.5s) {

&:hover,
&:focus {
     -webkit-animation-name: 'hopsing';
     -webkit-animation-duration: @duration;
     -webkit-animation-iteration-count: 1;
     -webkit-animation-timing-function: linear;

     -moz-animation-name: 'hopsing';
     -moz-animation-duration: @duration;
     -moz-animation-iteration-count: 1;
     -moz-animation-timing-function: linear;

     -o-animation-name: 'hopsing';
     -o-animation-duration: @duration;
     -o-animation-iteration-count: 1;
     -o-animation-timing-function: linear;

     animation-name: 'hopsing';
     animation-duration: @duration;
     animation-iteration-count: 1;
     animation-timing-function: linear;

 }

}

@-webkit-keyframes hopsing2 {
    0%   { -webkit-transform: rotate(0deg); }
    30%  { -webkit-transform: rotate(-2deg); }
    60%  { -webkit-transform: rotate(2deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes hopsing2 {
    0%   { -webkit-transform: rotate(0deg); }
    30%  { -webkit-transform: rotate(-2deg); }
    60%  { -webkit-transform: rotate(2deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-o-keyframes  hopsing2 {
    0%   { -webkit-transform: rotate(0deg); }
    30%  { -webkit-transform: rotate(-2deg); }
    60%  { -webkit-transform: rotate(2deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@keyframes hopsing2 {
    0%   { -webkit-transform: rotate(0deg); }
    30%  { -webkit-transform: rotate(-2deg); }
    60%  { -webkit-transform: rotate(2deg); }
    100% { -webkit-transform: rotate(0deg); }
}

.bounceLittle(@duration: 0.5s) {

&:hover,
&:focus {
     -webkit-animation-name: 'hopsing2';
     -webkit-animation-duration: @duration;
     -webkit-animation-iteration-count: 1;
     -webkit-animation-timing-function: linear;

     -moz-animation-name: 'hopsing2';
     -moz-animation-duration: @duration;
     -moz-animation-iteration-count: 1;
     -moz-animation-timing-function: linear;

     -o-animation-name: 'hopsing2';
     -o-animation-duration: @duration;
     -o-animation-iteration-count: 1;
     -o-animation-timing-function: linear;

     animation-name: 'hopsing2';
     animation-duration: @duration;
     animation-iteration-count: 1;
     animation-timing-function: linear;

 }

}


// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
                                            .clearfix {
                                                *zoom: 1;
&:before,
&:after {
     display: table;
     content: "";
 // Fixes Opera/contenteditable bug:
 // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
 line-height: 0;
 }
&:after {
     clear: both;
 }
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.border-bottom-radius(@radius) {
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-bottom-right-radius: @radius;
    -o-border-bottom-right-radius: @radius;
    border-bottom-right-radius: @radius;

    -webkit-border-bottom-left-radius: @radius;
    -moz-border-bottom-left-radius: @radius;
    -o-border-bottom-left-radius: @radius;
    border-bottom-left-radius: @radius;
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @alpha) {
@val: @x @y @blur rgba(0, 0, 0, @alpha);

    box-shadow: @val;
    -webkit-box-shadow: @val;
    -moz-box-shadow: @val;
    -o-box-shadow: @val;
}

.opacity(@val) {
    opacity: @val;
    filter: alpha(opacity=@val);
}

.transition(@val) {
    transition: @val;
    -webkit-transition: @val;
}

.round-corners-single-image(@image, @width, @height) {
    position: relative;

    .c1, .c2, .c3, .c4 {
        background-repeat: no-repeat;
        width: @width; height: @height;
        position: absolute;
        z-index: 50;
    }
    .c1 { top: 0; left: 0; background-position: top left; background-image: url('@{image}'); }
    .c2 { top: 0; right: 0; background-position: top right; background-image: url('@{image}'); }
    .c3 { bottom: 0; left: 0; background-position: bottom left; background-image: url('@{image}'); }
    .c4 { bottom: 0; right: 0; background-position: bottom right; background-image: url('@{image}'); }
}

.unselectable() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.styleEnrolmentTerm(@termColor, @titleColor) {
    h3 {
        color: @titleColor;
    }
    .term .price {
        border-bottom: 1px solid silver;
    }
    .term.active .price, .term.active:hover .price, .term.active.hover {
        background-color: lighten(@termColor, 25%);
        color: contrast(lighten(@termColor, 25%));
        border-bottom: 4px solid @termColor;
    }
    .term.active {
        background-color: lighten(silver, 20%);
    }

    .term:hover, .term.hover {
        background-color: lighten(silver, 10%);

    }
    .term:hover .price, .term.hover .price {
        border-bottom: 1px solid darken(silver, 20%);
    }
}


.styleSubnavigationLink(@colorBackground) {
    a {
        border-bottom: 2px solid lighten(@colorBackground, 20%);
    }
    a:hover, &.current a:hover {
                  background-color: lighten(@colorBackground, 35%);
                  border-bottom-color: @colorBackground;
              }
&.current a {
     background-color: lighten(@colorBackground, 38%);
     border-bottom-color: @colorBackground;
 }
}

.colorizeLink(@newColor)
{
    a { color: @newColor; border-bottom-color: lighten(@newColor, 40%); }
    a:hover { border-bottom-color: lighten(@newColor, 10%); }
}

.bubbleImage {
    overflow: hidden; position: relative;
    &:after { content: ''; display: block; width: inherit; height: inherit; position: absolute; top: 0; left: 0; }
    &.left.floated { float: left; margin-right: 15px; }
    &.right.floated { float: right; margin-left: 15px; }
    width: 150px; height: 151px;
    &:after { background: url(@gfx_image_overlay_c) no-repeat top left; }
}

