@import "_resources.less";
@import "_helpers.less";

body .ui {
  /* font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !important; */
  font-family: Helvetica, Arial, sans-serif !important;
}

/******************************************************************************

    Configuration

******************************************************************************/

@baseTextColor: #444;

@entryHeaderTitleColor: #000000;
@entryHeaderColor: #c0c0c0;
@entryColor: #c0c0c0;

@navigationLinkColor: lighten(#4D4D4D,20%);
@navigationLinkColorHover: darken(#4D4D4D,40%);
@navigationBorderColor: #e2e2e2;
@navigationBorderColorHover: darken(@navigationBorderColor, 30%);

@greenColor: #49A942;
@green2Color: #8cc63f;
@greenFreshColor: #22b573;
@greenMountainDewColor: #82ea1f;
@limeteColor: #d9e021;
@azureColor: #1fa6ea;
@blueColor: #99caf1;
@blue2Color: #2e3192;
@purpleColor: #781d7e;
@redFreshColor: #ed1c24;
@redColor: #fcacb7;
@orangeColor: #fbb03b;
@turquoiseColor: #00a99d;
@pinkColor: #ed1e79;
@grayColor: #998675;
@brownColor: #754c24;
@yellowColor: #fcee21;
@goldenColor: #eab51f;

@beginnersColor1: @greenColor;
@beginnersColor2: @greenMountainDewColor;
@setdancingColor1: @orangeColor;
@intermediateColor1: @azureColor;
@advancedColor1: @purpleColor;
@advancedColor2: lighten(@purpleColor, 25%);
@choreoColor1: @redFreshColor;
@hustosetyColor1: @turquoiseColor;

// Links

/*
main a {
  color: @greenColor; border-bottom: 2px solid lighten(@greenColor, 40%); text-decoration: none; cursor: pointer;
  &.nostyle { border: none; text-decoration: none; }
}
main a:hover:not(.btn) { border-bottom: 2px solid lighten(@greenColor, 10%); text-decoration: none; }
*/

// Typo

body.pushable {
    background: white !important;
}

// Menu

@media only screen and (min-width : 1000px)
{
    .large-icon-menu { display: block !important; }
    .fallback-menu { display: none !important; }
}

@media only screen and (max-width: 700px)
{
    .fallback-menu {
        .small-logo { display: block !important; }
        .right .ui.button { display: none !important; }
    }
}

.fallback-menu {
    display: block;
    border-bottom: none !important;
    .small-logo { display: none; }
}

.large-icon-menu {

    display: none;
    width: 1010px;
    margin: 25px auto 20px auto;

    position: relative;
    font-size: 15px;
    .clearfix();

    a { color: @navigationLinkColor; text-decoration: none; border: none; }
    a:hover { color: @navigationLinkColorHover; .transition(all 0.1s ease-in-out); }

    .item {
        list-style:none; margin: 0; padding: 0;
        float: left; width: 105px; height: 140px; position: relative; text-align: center; cursor: pointer;

        .image-wrapper { display: block; width: 100%; height: 105px; position: relative; z-index: 1; }
        .image { display: block; margin: 0 auto; background: url(../images/navigation/sprites.png) no-repeat center center; position: relative; top: 0px; }
        .over { display: block; width: 100%; height: 100%; background: url(../images/navigation/sprites.png) no-repeat center center; .opacity(0.0); }

        a {
        display: block;
        .title { border-bottom: 2px solid @navigationBorderColor; position: relative; z-index: 2;  }
        .image-wrapper { position: relative; top: 5px; .transition(all 0.1s ease-in-out); }
        }
        &.current a {
        .over { .opacity(1.0); .transition(all 0.1s ease-out); }
        .title { border-bottom-color: @navigationBorderColorHover; color: black; }
        }
        a:hover {
        .over { .opacity(1.0); .transition(all 0.1s ease-out); }
        .title { border-bottom-color: @navigationBorderColorHover; }
        .image-wrapper { position: relative; top: 0px; .transition(all 0.1s ease-in-out); }
        }

        &.about { margin-left: 5px; }
        &.about .image { background-position: -219px -272px; width: 34px; height: 34px; top: 50px; }
        &.about .over { background-position: -185px -272px; }
        &.teaching .image { background-position: -331px -70px; width: 80px; height: 60px; top: 40px; }
        &.teaching .over { background-position: -331px -130px; }
        &.teaching .shadow { width: 74px; height: 24px; background: url(../images/navigation/sprites.png) -331px -190px no-repeat; display: block; position: absolute; top: 80px; left: 14px; z-index: 4;}
        &.irish-dance { width: 100px; }
        &.irish-dance .image { background-position: -120px -172px; width: 60px; height: 100px; top: 0px;}
        &.irish-dance .over { background-position: 0px -172px; }
        &.irish-dance .shadow { width: 36px; height: 20px; background: url(../images/navigation/sprites.png) -129px -135px no-repeat; display: block; position: absolute; top: 83px; left: 31px; z-index: 4; }
        &.irish-dance2 { width: 100px; }
        &.irish-dance2 .image { background-position: -60px -172px; width: 60px; height: 100px; top: 0px;}
        &.irish-dance2 .over { background-position: -180px -172px; }

        &.home { width: 331px; margin-left: 10px; margin-right: 17px; }
        &.home .image { width: 331px; height: 135px; background: url(../images/navigation/sprites.png) 0px 0px no-repeat; }
        &.home .over  { display: none; }
        &.home .title { display: none; }

        &.blog { top: -3px; }
        &.blog .image { background-position: 0px -272px; width: 65px; height: 55px; top: 30px;}
        &.blog .over { background-position: -331px -214px; }
        &.pictures { top: -3px; width: 110px; margin-left: 5px; }
        &.pictures .image { background-position: -125px -272px; width: 60px; height: 50px; top: 40px; }
        &.pictures .over { background-position: -65px -272px; }
        &.contact { top: -3px; margin-left: 5px; }
        &.contact .image { background-position: -331px 0px; width: 80px; height: 70px; top: 30px;}
        &.contact .over { background-position: -240px -172px; }

    }

}

.footer {
    .ui.button {
        margin-bottom: 5px;
    }
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 500px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 1.0em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 3em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

h1.ui.header.horizontal.divider.center.aligned
{
    font-size: 3em;
    line-height: 1.5;
    letter-spacing: -0.01em;

    &:before {
        background-position: right 0.4em top 50%;
    }
    &:after {
        background-position: left 0.4em top 50%;
    }
    &:before, &:after {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABaAAAAAMCAMAAACjmOrIAAAAA1BMVEXm5uZLWILvAAAAJklEQVR42u3BAQEAAACAkP6v7ggKAAAAAAAAAAAAAAAAAAAAAKgaQ4wAAZnBwg4AAAAASUVORK5CYII=);
    }
}

.container {
    padding: 2em 0em;
}

.submenu.container {
    padding: 0.5em 0em;
}

.ui.text.container {
    font-size: 14px;
    p {
        line-height: 1.7em;
    }
}



