@main("Kdo jsme") {

<!--<div class="ui center aligned container">-->
    <!--<a class="ui yellow basic button">Kdo jsme</a>-->
    <!--<a class="ui yellow basic button">Vystoupení</a>-->
    <!--<a class="ui yellow basic button">Nabídka vystoupení</a>-->
<!--</div>-->


<div class="ui center aligned container submenu">
    <a class="ui basic button">Kdo jsme</a>
    <a class="ui basic button">Vystoupení</a>
    <a class="ui basic button">Nabídka vystoupení</a>
</div>

<h1 class="ui header horizontal divider center aligned">
    Kdo jsme
</h1>

<div class="ui stackable grid">

</div>


<div class="ui text container">

    <h2 class="ui header green">O nás</h2>
    <p>
        <a class="bubbleImage right floated"><img src="@routes.Assets.versioned("images/about-us/pointy-150x150.jpg")" alt="" width="150" height="150"></a>
        Myšlenka založit vlastní taneční skupinu/školu přišla v srpnu 2009 a v září téhož roku jsme otevřeli první dětské kurzy. Krátce na to byly zavedeny irské tance jako tělocvik na ČVUT a na žádost studentů jsme od ledna 2010 otevřeli kurzy irských tanců pro dospělé. Postupně se naše nabídka rozrostla na softy, step a set dancing.
    </p>
    <div class="ui container">
        <div class="ui statistics">
            <div class="red statistic">
                <div class="value">
                    27
                </div>
                <div class="label">
                    vystoupení
                </div>
            </div>
            <div class="orange statistic">
                <div class="value">
                    8
                </div>
                <div class="label">
                    lekcí
                </div>
            </div>
            <div class="yellow statistic">
                <div class="value">
                    28
                </div>
                <div class="label">
                    Yellow
                </div>
            </div>
            <div class="olive statistic">
                <div class="value">
                    7
                </div>
                <div class="label">
                    Olive
                </div>
            </div>
            <div class="green statistic">
                <div class="value">
                    14
                </div>
                <div class="label">
                    Green
                </div>
            </div>
            <div class="teal statistic">
                <div class="value">
                    82
                </div>
                <div class="label">
                    Teal
                </div>
            </div>
            <div class="blue statistic">
                <div class="value">
                    1
                </div>
                <div class="label">
                    Blue
                </div>
            </div>
            <div class="violet statistic">
                <div class="value">
                    22
                </div>
                <div class="label">
                    Violet
                </div>
            </div>
            <div class="purple statistic">
                <div class="value">
                    23
                </div>
                <div class="label">
                    Purple
                </div>
            </div>
            <div class="pink statistic">
                <div class="value">
                    15
                </div>
                <div class="label">
                    Pink
                </div>
            </div>
            <div class="brown statistic">
                <div class="value">
                    36
                </div>
                <div class="label">
                    Brown
                </div>
            </div>
            <div class="grey statistic">
                <div class="value">
                    49
                </div>
                <div class="label">
                    Grey
                </div>
            </div>
        </div>
    </div>
    <p>
        Pořádáme společné taneční i mimotaneční akce - promítání, doučovací hodiny, semináře, soustředění, pouštění draků, vánoční hraní her, piknik, šití kostýmů, povídání o všem, co by mohlo tanečníky zajímat. Většina našich lektorů a někteří naši tanečníci se také pravidelně zúčastňují tanečních soutěží.
    </p>

    <h2 class="ui header green">Veselá kopýtka?</h2>
    <p>
        Z irštiny lze Sona Sól přeložit jako veselá kopýtka. A to tedy rozhodně jsme :)
    </p>

    <h2 class="ui header green">Filozofie</h2>
    <p>
        <a class="bubbleImage left floated"><img src="@routes.Assets.versioned("images/about-us/patrik-150x150.jpg")" alt="" width="150" height="150"></a>
        Nejdůležitější je pro nás naše motto “Irské tance pro radost” a v tomto duchu se snažíme irské tance vyučovat a šířit. To ale nesmí ubírat na kvalitě tance.
    </p>
    <p>
        Na kurzech se nenaučíte jen tančit, ale dozvíte se zde spoustu informací z irské historie, kultury a současných tanečních trendů. Kromě toho si všichni lektoři pravidelně osvěžují vědomosti z oblasti fitness, které se snažíme nenásilně aplikovat ve výuce a dbát tak na to, aby pro tanečníky byl pohyb co nejméně zatěžující. Naším cílem je, aby naši tanečníci znali z oblasti irského tance co nejvíce, takže na lekcích si občas vyzkoušíte i něco z jiných oblastí, které mají s Irskem co do činění, jako je například Bretaň, nebo Skotsko.
    </p>

</div>


<div class="ui text container center aligned">

    <h2 class="ui header">Ke každému kurzu</h2>
    <div class="ui three column stackable grid">
        <div class="column">
            <h3 class="ui header">První pomoc</h3>
            <p>
                Všichni naši lektoři jsou odborně vyškoleni Českým červeným křížem jako certifikovaní zdravotníci a pravidelně své znalosti oprašují. V případě potřeby umíme aplikovat kinesiotape.
            </p>
        </div>
        <div class="column">
            <h3 class="ui header">Zábavné rozcvičky</h3>
            <p>
                Travoltovská<br>
                Gangnam style<br>
                Bollywood<br>
                Africká<br>
                Swingová<br>
                Oldies disco<br>
                Contemporary dance<br>
                a pracujeme na dalších... :)
            </p>
        </div>
        <div class="column">
            <h3 class="ui header">Poradíme, pomůžeme</h3>
            <p>
                Pomůžeme Vám s výběrem vhodné taneční obuvi. Zájemcům doporučíme vhodné cviky na doma. Informujeme o novinkách u nás i ve světě a o těch nejlepších akcích se dozvíte přímo od lektorů.
            </p>
        </div>
    </div>

    <div class="ui text container four height">
        <a href="#" class="ui green large button">Přijďte si zatančit</a>
    </div>

</div>

}
