<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title layout:fragment="title">Přihláška</title>
</head>
<body>
<main layout:fragment="content">

    <div class="ui center aligned container submenu">
        <a th:href="${#mvc.url('TC#lessons').build()}" class="ui basic button">Lekce</a>
        <a th:href="${#mvc.url('TC#pricing').build()}" class="ui basic button">Ceník</a>
        <a th:href="${#mvc.url('TC#schedule').build()}" class="ui basic button">Rozvrh</a>
        <a th:href="${#mvc.url('TC#enrollment').build()}" class="ui basic button">Přihláška</a>
    </div>

    <h1 class="ui header horizontal divider center aligned">
        Přihláška
    </h1>

    <div class="ui stackable grid">

    </div>


    <div class="ui text container">

        <div class="ui text container">

            <script>
            $(function(){
                $('.ui.checkbox').checkbox();
                $('select.dropdown').dropdown();
            });
        </script>



            <form class="ui form">

                <div class="ui container" style="margin-bottom: 30px">

                    <div class="ui stackable four column grid center aligned">

                        <div class="column">

                            <div class="ui green fluid card">
                                <div class="content">
                                    <a class="ui green header">Začátečníci</a>
                                    <div class="meta">1900 Kč</div>
                                    <div class="description">
                                        <p>čtvrtek od 20:00</p>
                                    </div>
                                </div>
                                <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    Přidat
                                </div>
                            </div>

                        </div>

                        <div class="column">

                            <div class="ui green fluid card">
                                <div class="content">
                                    <a class="ui green header">Začátečníci</a>
                                    <div class="meta">1900 Kč</div>
                                    <div class="description">
                                        <p>čtvrtek od 20:00</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div>
                                        <i class="users icon"></i>
                                        2 volná místa
                                    </div>
                                </div>
                                <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    Přidat
                                </div>
                            </div>

                        </div>


                        <div class="column">

                            <div class="ui green fluid card">
                                <div class="content">
                                    <a class="ui green header">Začátečníci</a>
                                    <div class="meta">1900 Kč</div>
                                    <div class="description">
                                        <p>čtvrtek od 20:00</p>
                                    </div>
                                </div>
                                <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    Přidat
                                </div>
                            </div>

                        </div>


                        <div class="column">

                            <div class="ui green fluid card">
                                <div class="content">
                                    <a class="ui green header">Začátečníci</a>
                                    <div class="meta">1900 Kč</div>
                                    <div class="description">
                                        <p>čtvrtek od 20:00</p>
                                    </div>
                                </div>
                                <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    Přidat
                                </div>
                            </div>

                        </div>


                        <div class="column">

                            <div class="ui green fluid card">
                                <div class="content">
                                    <a class="ui green header">Začátečníci</a>
                                    <div class="meta">1900 Kč</div>
                                    <div class="description">
                                        <p>čtvrtek od 20:00</p>
                                    </div>
                                </div>
                                <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    Přidat
                                </div>
                            </div>

                        </div>


                        <div class="column">

                            <div class="ui green fluid card">
                                <div class="content">
                                    <a class="ui green header">Začátečníci</a>
                                    <div class="meta">1900 Kč</div>
                                    <div class="description">
                                        <p>čtvrtek od 20:00</p>
                                    </div>
                                </div>
                                <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    Přidat
                                </div>
                            </div>

                        </div>


                        <div class="column">

                            <div class="ui green fluid card">
                                <div class="content">
                                    <a class="ui green header">Začátečníci</a>
                                    <div class="meta">1900 Kč</div>
                                    <div class="description">
                                        <p>čtvrtek od 20:00</p>
                                    </div>
                                </div>
                                <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    Přidat
                                </div>
                            </div>

                        </div>


                        <div class="column">

                            <div class="ui green fluid card">
                                <div class="content">
                                    <a class="ui green header">Začátečníci</a>
                                    <div class="meta">1900 Kč</div>
                                    <div class="description">
                                        <p>čtvrtek od 20:00</p>
                                    </div>
                                </div>
                                <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    Přidat
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="ui stackable grid center aligned">

                    <h2 class="ui header green">Moje kontaktní údaje</h2>


                    <div class="column sixteen wide">

                        <div class="ui stackable two column very relaxed grid container" style="position:relative;">
                            <div class="column">

                                <div class="ui required labeled input field" style="margin-top: 35px;">
                                    <div class="ui label">E-mail</div>
                                    <input type="text" name="last-name" placeholder=""/>
                                </div>
                                <div class="ui labeled input required field">
                                    <div class="ui label">Heslo</div>
                                    <input type="text" name="last-name" placeholder=""/>
                                </div>


                            </div>
                            <div class="ui vertical divider">
                                nebo
                            </div>
                            <div class="column">

                                <div class="ui container left aligned" style="position: relative; top: 10px">
                                    <a class="ui facebook button" style="margin-bottom: 10px;">
                                        <i class="facebook icon"></i>
                                        Přihlásit přes Facebook
                                    </a>

                                    <a class="ui google plus button">
                                        <i class="google icon"></i>
                                        Přihlásit přes Google
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="column ten wide">

                        <div class="ui container left aligned">

                            <div class="required field">
                                <label>Jméno a příjmení</label>
                                <input type="text" name="first-name" placeholder=""/>
                            </div>
                            <div class="required field">
                                <label>Telefonní číslo</label>
                                <input type="text" name="last-name" placeholder=""/>
                            </div>
                            <div class="required field">
                                <label>Adresa</label>
                                <input type="text" name="last-name" placeholder=""/>
                            </div>
                            <div class="required inline fields">
                                <div class="four wide field">
                                    <label>Datum narození</label>
                                </div>
                                <div class="four wide field">
                                    <input type="text" name="last-name" placeholder="den"/>
                                </div>
                                <div class="six wide field">
                                    <select class="ui fluid search dropdown" name="card[expire-month]">
                                        <option value="">měsíc</option>
                                        <option value="1">leden</option>
                                        <option value="2">únor</option>
                                        <option value="3">březen</option>
                                        <option value="4">duben</option>
                                        <option value="5">květen</option>
                                        <option value="6">červen</option>
                                        <option value="7">červenec</option>
                                        <option value="8">srpen</option>
                                        <option value="9">září</option>
                                        <option value="10">říjen</option>
                                        <option value="11">listopad</option>
                                        <option value="12">prosinec</option>
                                    </select>
                                </div>
                                <div class="three wide field">
                                    <input type="text" name="last-name" placeholder="rok"/>
                                </div>
                            </div>
                            <div class="field">
                                <label>Poznámka</label>
                                <textarea rows="2"></textarea>
                            </div>
                            <div class="required field">
                                <label>Oblíbená písnička</label>
                                <input type="text" name="last-name" placeholder=""/>
                            </div>
                            <div class="required field">
                                <div class="ui checkbox">
                                    <input type="checkbox" tabindex="0" class="hidden"/>
                                    <label>
                                        <b>Prohlašuji</b>, že cvičení podstupuji na vlastní zdravotní riziko. Nejsem si vědom/a žádného vážného zdravotního omezení, které by mi znemožnilo podat přihlášku. (Pokud si nejste jistí, zda trénink zvládnete, kontaktujte nás na <a href="mailto:tereza@@sonasol.com">tereza@@sonasol.com</a>)

                                        Přihlášením na lekce souhlasím s pořizováním fotografií
                                        a video záznamů a případným uveřejněním na webu.</label>
                                </div>
                            </div>

                            <div class="ui container center aligned">

                                <button class="ui green massive button" type="submit">Odeslat přihlášku</button>

                                <h2 class="ui header">Termín platby do 31. 1. 2015</h2>
                                <p>
                                    Po odeslání přihlášky obratem zašleme potvrzovací e-mail s podrobnostmi o platbě
                                </p>

                            </div>

                        </div>

                    </div>

                </div>
            </form>


        </div>


    </div>


</main>
</body>
</html>