<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Site Properities -->
    <title layout:fragment="title">Sona Sól - Irské tance pro radost</title>

    <!-- Styles and javascript -->
    <link rel="stylesheet" media="screen" th:href="@{/lib/semantic/dist/semantic.min.css}" href="../static/lib/semantic/dist/semantic.min.css" />

    <link rel="stylesheet" media="screen" th:href="@{/stylesheets/main.css}" href="../static/stylesheets/main.css" />
    <link rel="shortcut icon" type="image/png" th:href="@{/images/icons/favicon.ico}" href="../static/images/icons/favicon.ico" />
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" th:src="@{/javascripts/selectivizr.js}" src="../static/javascripts/selectivizr.js"></script>
        <![endif]-->
    <!--[if lt IE 9]>
    <script th:src="@{/javascripts/html5shiv.js}" src="../static/javascripts/html5shiv.js" ></script>
        <![endif]-->
        <script th:src="@{/javascripts/jquery-1.10.1.min.js}" src="../static/javascripts/jquery-1.10.1.min.js"  type="text/javascript"></script>
        <script th:src="@{/lib/semantic/dist/semantic.min.js}" src="../static/lib/semantic/dist/semantic.min.js"  type="text/javascript"></script>
        <script th:src="@{/javascripts/main.js}" src="../static/javascripts/main.js"  type="text/javascript"></script>

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/images/icons/apple-touch-icon-144x144-precomposed.png}" href="../static/images/icons/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/images/icons/apple-touch-icon-114x114-precomposed.png}" href="../static/images/icons/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/images/icons/apple-touch-icon-72x72-precomposed.png}" href="../static/images/icons/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" th:href="@{/images/icons/apple-touch-icon-57x57-precomposed.png}" href="../static/images/icons/apple-touch-icon-57x57-precomposed.png" />
        <link rel="shortcut icon" th:href="@{/images/icons/favicon.png}" href="../static/images/icons/favicon.png" />

        <!-- Social sites -->
        <meta property="og:image" th:content="@{/images/icons/facebook.png}" content="../static/images/icons/facebook.png" />
        <link rel="image_src" th:href="@{/images/icons/facebook.png}" href="../static/images/icons/facebook.png" />
        <link href="https://plus.google.com/115663403252104424917" rel="publisher" />

    </head>
    <body>

        <!-- Compatibility note -->

        <!--[if lt IE 7]>
        <div class="oldbrowserframe alert noPrint">
            <p>
                <strong>
                    Používáte <strong>zastaralý</strong> prohlížeč
                    Prosím <a href="http://browsehappy.com/">stáhněte si lepší</a>
                    pro pěknější zobrazení našich webovek.
                    <br>
                    Jestli si nainstalujete Google Chrome, máte u Ondry (správce webu) pivo/limonádu :)
                </strong>
            </p>
        </div>
        <![endif]-->

        <!--[if IE 7]>
        <div class="oldbrowserframe alert noPrint">
            <p>
                Používáte <strong>zastaralý</strong> prohlížeč
                Prosím <a href="http://browsehappy.com/">stáhněte si lepší</a>
                pro pěknější zobrazení našich webovek.
                <br>
                Jestli si nainstalujete Google Chrome,
                náš správce webu Ondra Vám zahraje libovolnou písničku na ukulele.
            </p>
        </div>
        <![endif]-->

    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <a class="item" href="@routes.Application.index">Hlavní strana</a>
        <a class="item" href="@routes.About.us">Kdo jsme</a>
        <a class="item" href="@routes.Teaching.lessons">Výuka</a>
        <a class="item" href="@routes.IrishDance.about">Irské tance</a>
        <a class="item" href="@routes.Blog.list">Blog</a>
        <a class="item" href="@routes.Media.list">Foto a video</a>
        <div class="right menu">
          <div class="item">
            <a class="ui button" href="@routes.Application.contact">Kontakt</a>
          </div>
          <div class="item">
            <a class="ui primary button">Přihlásit se</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="item" href="@routes.Application.index">Hlavní strana</a>
        <a class="item" href="@routes.About.us">Kdo jsme</a>
        <a class="item" href="@routes.Teaching.lessons">Výuka</a>
        <a class="item" href="@routes.IrishDance.about">Irské tance</a>
        <a class="item" href="@routes.Blog.list">Blog</a>
        <a class="item" href="@routes.Media.list">Foto a video</a>
        <a class="item" href="@routes.Application.contact">Kontakt</a>
        <a class="item" href="@routes.Application.contact">Přihlásit&nbsp;se</a>
    </div>

    <!-- Page Contents -->
    <div class="pusher">

        <div class="large-icon-menu">
            <div class="item about"><a th:href="${#mvc.url('AC#whoWeAre').build()}"><span class="image-wrapper"><span class="image"><span class="over"></span></span></span><span class="title">Kdo jsme</span></a></div>
            <div class="item teaching"><a th:href="${#mvc.url('TC#lessons').build()}"><span class="image-wrapper"><span class="image"><span class="over"></span></span></span><span class="shadow"></span><span class="title">Výuka</span></a></div>
            <div class="item irish-dance"><a th:href="${#mvc.url('IDC#about').build()}"><span class="image-wrapper"><span class="image"><span class="over"></span></span></span><span class="shadow"></span><span class="title">Irské tance</span></a></div>
            <div class="item home"><a th:href="${#mvc.url('HC#welcome').build()}"><span class="image-wrapper"><span class="image"><span class="over"></span></span></span><span class="title">Hlavní strana</span></a></div>
            <div class="item blog"><a th:href="${#mvc.url('BC#list').build()}"><span class="image-wrapper"><span class="image"><span class="over"></span></span></span><span class="title">Blog</span></a></div>
            <div class="item pictures"><a th:href="${#mvc.url('MC#gallery').build()}"><span class="image-wrapper"><span class="image"><span class="over"></span></span></span><span class="title">Foto a video</span></a></div>
            <div class="item last contact"><a th:href="${#mvc.url('AC#contact').build()}"><span class="image-wrapper"><span class="image"><span class="over"></span></span></span><span class="title">Kontakt</span></a></div>
        </div>

        <div class="fallback-menu ui vertical center aligned segment">

            <div class="ui container">
              <div class="ui large secondary green pointing menu">
                <a class="toc item">
                  <i class="sidebar icon"></i>
                </a>
                <a class="item active" href="@routes.Application.index">Sona&nbsp;Sól Veselá&nbsp;kopýtka</a>
                <a class="item" href="@routes.About.us">Kdo jsme</a>
                <a class="item" href="@routes.Teaching.lessons">Výuka</a>
                <a class="item" href="@routes.IrishDance.about">Irské tance</a>
                <a class="item" href="@routes.Blog.list">Blog</a>
                <a class="item" href="@routes.Media.list">Foto a&nbsp;video</a>
                <a class="item" href="@routes.Application.contact">Kontakt</a>
                <div class="right item">
                  <a class="small-logo ui green" href="@routes.Application.index">Sona&nbsp;Sól - Veselá&nbsp;kopýtka</a>
                </div>
              </div>
            </div>

        </div>

        <main layout:fragment="content">
        </main>

        <div class="ui green vertical footer segment">
            <div class="ui center aligned container" style="max-width: 900px !important;">
              <div class="ui stackable grid">
                <div class="four wide column">
                  <h4 class="ui header">Kontakt</h4>
                  <p>
                    <a href="mailto:info@sonasol.com" class="ui basic green  button"><i class="mail icon"></i>info@sonasol.com</a>
                    <a class="ui basic green button"><i class="phone icon"></i>774 880 421</a>
                    <a href="#" class="ui facebook button"><i class="facebook icon"></i>Facebook</a>
                    <a href="#" class="ui youtube button"><i class="youtube icon"></i>YouTube</a>
                  </p>
                </div>
                <div class="three wide column">
                  <h4 class="ui header">Lekce</h4>
                  <div class="ui  link list">
                    <a href="#" class="item">Začátečníci</a>
                    <a href="#" class="item">Step dancing</a>
                    <a href="#" class="item">Setové tance</a>
                    <a href="#" class="item">ČVUT</a>
                    <a href="#" class="item">U3V</a>
                  </div>
                </div>
                <div class="eight wide column">
                  <h4 class="ui header">Sona Sól - Veselá kopýtka</h4>
                  <p>Jsme taneční škola vyučující irský step, setové tance.</p>
                </div>
              </div>
              <div class="ui section divider"></div>
                <div class="ui horizontal small divided link list">
                    <span>Copyright &copy; 2010-2015 Sona Sól - Veselá kopýtka</span>
                </div>
            </div>
        </div>

    </div>

</body>
</html>

