@main("Vítejte") {

    <div class="ui vertical masthead center aligned segment">

        <div class="ui text container">
            <h1 class="ui header" style="font-weight: bold">
                Učíme irské tance
            </h1>
            <h2>Step dancing a setové tance.</p>
                <div class="ui huge green button">Mrkněte na lekce<i class="right arrow icon"></i></div> <!-- na lekce / misto a cas / kdy a kde-->
        </div>

    </div>

}
